requires = ["tox>=4.38", "tox-uv>=1.29"]
env_list = ["fix"]

[env.fix]
description = "format the code base to adhere to our styles, and complain about what we cannot do automatically"
skip_install = true
deps = ["pre-commit-uv>=4.2.1"]
pass_env = [{ replace = "ref", of = ["env_run_base", "pass_env"], extend = true }, "PROGRAMDATA"]
commands = [["pre-commit", "run", "--all-files", "--show-diff-on-failure", { replace = "posargs", extend = true }]]

[env.coverage]
description = "generate HTML coverage report"
skip_install = true
allowlist_externals = ["cargo", "genhtml", "open"]
commands = [
  ["cargo", "llvm-cov", "--workspace", "--no-default-features", "--lcov", "--output-path", "coverage.lcov"],
  [
    "genhtml", "coverage.lcov", "-o", "cov-html",
    "--legend", "--branch-coverage", "--function-coverage",
    "--hierarchical", "--show-navigation",
    "--num-spaces", "4", "--precision", "2", "--title", "toml-fmt Coverage",
  ],
  ["open", "cov-html/index.html"],
]
