name: Test common
on:
  workflow_dispatch:
  push:
    branches: ["main"]
    paths: ["common/**", ".github/workflows/common.yaml"]
  pull_request:
    paths: ["common/**", ".github/workflows/common.yaml"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  rust-lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy
      - name: Lint rust code with clippy
        run: cargo clippy -p common --all-targets -- -D warnings

  rust-fmt:
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: common
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt
      - name: Rust formatting check
        run: cargo fmt -p common --check

  rust-build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Build library
        run: cargo build -p common

  rust-test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - run: cargo test -p common
